.container{
    @extend .center_div;
    width: 375px;
    height: 375px;
    background: linear-gradient(var(--dark-blue),var(--very-dark-blue));
    border-radius: 30px;
}
.app{
    @extend .center_div;
}

